{% extends "base.html" %}

{% block nav_login %}
"active"
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    {% crispy form %}
    <a href="{% url 'social:begin' 'github' %}" class="btn btn-social btn-github">
            <span class="fa fa-github"></span> Sign in with GitHub
    </a>
{% endblock %}
